html, body, h1, form, fieldset, input
{
margin: 0 auto; padding: 1; border: none;
}
body {
font-family: Helvetica, Arial, sans-serif; font-size: 15px;
background-image: url('https://pixelsmouvants.thiel.fr/2010/11/08/kaamelott-livre-v/vlcsnap-2010-11-08-00h12m32s145.png');
background-repeat: no-repeat;
background-size: cover;

}
#registration {
    color: #fff;
    background: #2d2d2d;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(60,60,60)),
        color-stop(0.74, rgb(43,43,43)),
        color-stop(1, rgb(60,60,60))
        );
     background: -moz-linear-gradient(
        center bottom,
        rgb(60,60,60) 0%,
        rgb(43,43,43) 74%,
        rgb(60,60,60) 100%
        );
     -moz-border-radius: 10px;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     margin: auto;
     width: 225px;
     }
 
 #registration a {
      color: #8c910b;
      text-shadow: 0px -1px 0px #000;
      }
 
#registration fieldset {
      padding: 20px;
      }

